%% -*- erlang -*-
[{kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{config => #{type => standard_error},
	level => info,
	formatter => {logger_formatter, #{legacy_header => false,
					  template => [level, ": ", msg, "\n"],
					  single_line => true}}}}]}]},
 {sasl,
  [{sasl_error_logger, false},
   {errorlog_type, error},
   {error_logger_mf_dir, "/var/log/echotcp"},
   {error_logger_mf_maxbytes, 16777216},
   {error_logger_mf_maxfiles, 10}]},

 "/usr/local/etc/echotcp/override.config"
].
